@page "/login"
@using ApplicationLayer.Authentication
@inject UserAccountService userAccountService
@inject IJSRuntime js
@inject AuthenticationStateProvider authstateprovider
@inject NavigationManager nav
@using DataAccessLayer

<div class="container" style="padding-top: 5%;">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
            <div class="mb-3 text-center">
                <h3>LOGIN</h3>
            </div>

            <div class="mb-3">
                <label>User Name</label>
                <input @bind="model.UserName" class="form-control" placeholder="Email" />
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input @bind="model.Password" type="password" class="form-control" placeholder="password" />
            </div>


            <div class="checkbox mb-3 mt-2 text-dark">
                <label>
                    <input type="checkbox" value="remember-me" />
                    Remember me
                </label>
                <label CssClass="mt-2 text-danger"></label>
            </div>

            <div class="container" style="padding-top: 5%;"></div>
            <div class="mb-3 d-grid gap-2">
                <button @onclick="Authenticate" class="btn btn-primary gradient-button ">Login</button>
                <button @onclick="Register" class="btn btn-success gradient-button">Register Now</button>
            </div>
        </div>
    </div>
</div>
<style>
    .gradient-button {
        background: linear-gradient(to bottom, #D8A7B1,#EF7C8E);
        color: white;
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

        .gradient-button:hover {
            background: linear-gradient(to bottom, #EF7C8E,#D8A7B1);
        }
</style>
@code {
    public void Register()
    {
        nav.NavigateTo("/register", true);
    }

    public class Model
    {
        public string UserName { get; set; }
        public string Password { get; set; }
    }

    public Model model = new Model();

    ModelClass.ModelUserProfile? modelUserProfile = new ModelClass.ModelUserProfile();
    private async Task Authenticate()
    {
        modelUserProfile = userAccountService.GetByUserName(model.UserName, model.Password);
        if (modelUserProfile.id == null || modelUserProfile.name == null)
        {
            await js.InvokeVoidAsync("alert", "Invalid user name of password");
            return;
        }
        else
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)authstateprovider;
            await customAuthStateProvider.UpdateAuthenticationStae(new UserSession
                {
                   // UserId = modelUserAccount.UserId,
                    name = modelUserProfile.name,
                    roles = modelUserProfile.roles
                });
            nav.NavigateTo("/", true);
        }
    }
    
}



