@page "/DeleteBooks"
@using System.Data.SqlClient
@using ModelClass
@using DataAccessLayer
@attribute [Authorize(Roles = "seller")]

<h3>Delete a Book</h3>

<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-4 control-label">Title:</label>
        <div class="col-sm-8">
            <select class="form-control" id="title" @bind="selectedTitle">
                @foreach (var book in books)
                {
                    <option value="@book.title">@book.title</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-danger" @onclick="DeleteBook">Delete</button>
        </div>
    </div>
</form>

@if (deleteSuccess)
{
    <div class="alert alert-success">Book deleted successfully!</div>
}

@code {
    private List<ModelBookListingDetails> books = new List<ModelBookListingDetails>();
    private string selectedTitle;
    private bool deleteSuccess;

    protected override void OnInitialized()
    {
        books = DALBookListingDetails.GetBookListingDetails();
    }

    private void DeleteBook()
    {
        DALBookListingDetails dal = new DALBookListingDetails();
        dal.DeleteBookListing(selectedTitle);
        books = DALBookListingDetails.GetBookListingDetails();
        deleteSuccess = true;
    }



}
