@page "/UploadBooks"
@using ModelClass
@using DataAccessLayer
@attribute [Authorize(Roles = "seller")]
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims;


<h3>Upload a Book</h3>

<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-4 control-label">Title:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="title" @bind="book.title">
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-sm-4 control-label">Author:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="author" @bind="book.author">
        </div>
    </div>
    <div class="form-group">
        <label for="categories" class="col-sm-4 control-label">Categories:</label>
        <div class="col-sm-8">
            <select class="form-control" id="categories" @bind="book.categories">
                <option value="Medicine">Medicine</option>
                <option value="Tech">Tech</option>
                <option value="Maths">Maths</option>
                <option value="Literature">Literature</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="col-sm-4 control-label">Price:</label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="number" class="form-control" id="price" @bind="book.price" disabled="@isPriceFree" step="100">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" @bind="isPriceFree"> Free
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="availability" class="col-sm-4 control-label">Availability:</label>
        <div class="col-sm-8">
            <select class="form-control" id="availability" @bind="book.availability">
                <option value="On Hold">On Hold</option>
                <option value="Available">Available</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="SellersNo" class="col-sm-4 control-label">Seller's Number:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="SellersNo" @bind="book.SellersNo">
        </div>
    </div>
    <input type="hidden" id="SellerId" @bind="book.SellerId" />
  
    <div class="form-group">
        <label for="Location" class="col-sm-4 control-label">Location:</label>
        <div class="col-sm-8">
            <select class="form-control" id="Location" @bind="book.Location">
                <option value="Karachi">Karachi</option>
                <option value="Lahore">Lahore</option>
                <option value="Islamabad">Islamabad</option>
                <option value="Nawabshah">Nawabshah</option>
                <option value="Other">Other</option>
            </select>
        </div>
     </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-primary" @onclick="UploadBook">Upload</button>
        </div>
    </div>
  </form> 

@if (uploadSuccess)
{
    <div class="alert alert-success">Book uploaded successfully!</div>
}



@code {
    private ModelBookListingDetails book = new ModelBookListingDetails();
    private bool isPriceFree;
    private bool uploadSuccess;

    private async Task UploadBook()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (isPriceFree)
        {
            book.price = 0;
        }
        if (int.TryParse(user.FindFirstValue(ClaimTypes.NameIdentifier), out int userId))
        {
            book.SellerId = userId;
        }
        else { }

        // use users id as seller id for messaging purpose
        book.SellerUsername = user.FindFirstValue(ClaimTypes.Name);

        bool success = DALBookListingDetails.InsertBookListing(
            book.title,
            book.author,
            book.categories,
            book.price,
            book.availability,
            book.SellersNo,
            book.SellerId,
            book.SellerUsername,
            book.Location
        );

        if (success)
        {
            uploadSuccess = true;
        }
        else
        {
           
        }
    }
}

