@page "/Itemsinfo"

@using ModelClass
@using DataAccessLayer

<h3>Items Information</h3>

<button @onclick = "LoadItemData">Show more</button>

@if (modelItems != null)
{
	<table width="100%">

		@foreach (var item in modelItems)
		{
			<tr>
				<td> @item.ItemId</td><td>@item.ItemName</td>
			</tr>
		}
	</table>	

}


@code {
	List<ModelItems> modelItems = new List<ModelItems>();
	private void LoadItemData()
	{
		modelItems = DalItems.GetModelItems();

	}
}
