@using Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nm

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EF7C8E;">
    <div class="container-fluid">
        <a class="navbar-brand btn text-light" href="/">
            <span class="brand-icon oi oi-globe"></span>
            <span class="brand-text" style="font-family: 'Arial', sans-serif; font-weight: bold; font-size: 1.5rem;">The Book Burrow</span>
        </a>

        <div class="navbar-collapse d-flex justify-content-end">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-link text-light" href="/">Home</a>
					<a class="nav-link text-light" href="/categories">Categories</a>
                    <a class="nav-link text-light" href="/BookListing">BookListing Details</a>
                    <a href="javascript:void(0)" class="btn text-light" @onclick="Logout">
                        Hi, @context.User.Identity.Name | Logout
                    </a>
                </Authorized>
                <NotAuthorized>
					<a class="nav-link text-light" href="/">Home</a>
					<a class="nav-link text-light" href="/categories">Categories</a>
                    <a href="/login" class="btn text-light">Login</a>
				</NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

<div class="page">
    <main>
        <article class="content px-1">
            @Body
        </article>
    </main>
</div>

@code {
      private async void Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationStae(null);
        nm.NavigateTo("/", true);
    }
}
