@using Authentication

@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nm

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex justify-content-end px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="javascript:void(0)" class="btn text-dark" @onclick="Logout">
                        Hi, @context.User.Identity.Name | Logout
                    </a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="btn text-dark">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async void Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationStae(null);
        nm.NavigateTo("/", true);
    }
}
